{% extends 'base.html' %}
{% load comments %}

{% block head_title %}{{ blog.title }}{% endblock %}
{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
<div>
    <div>
        <h2><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h2>
    </div>
    {{blog.body}}
    <p>
        {{blog.posted}} - By {{blog.author}}
    </p>


    <div class="comment">
        <div class="comments-display" style="padding-top: 20px;">
            <h3>评论</h3>
            {% for comment in comments %}
                <div class="comment-field" style="padding-top: 10px;">
                    {{ comment.name }} 说: {{ comment.content }}
                </div>
            {% endfor %}
        </div>
        <div class="comment-post" style="padding-top: 20px;">
            <h3>提交评论</h3>
            <form action="{% url 'view_blog_post' blog.slug %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-field" style="padding-top: 10px">
                        {{ field.label }}: {{ field }}
                    </div>
                    <div class="error" style="color: red;">
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <button type="submit" style="margin-top: 10px">提交</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}





